body {
  -webkit-app-region: drag;
}
#container {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  padding: 20px;
  border-radius: 3px;
 text-align: left;
 /* background-image: url('../../assets/img/butterflyBg.jpg') */
}
#container_elements {
  width: 100%;
  -webkit-app-region: drag;
}

h1 {
  font-weight: 300;
  text-align: center;
  margin: 40px auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      -webkit-user-drag: none; 
     
      
}

#screen {
 margin: 60px auto;
}
#screen, .close, .minimize, .openbtn {
  -webkit-app-region: no-drag;
}
/* X close styles*/
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  /* X close styles end*/

  .minimize {
    position: absolute;
    right: 45px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .minimize:hover {
    opacity: 1;
  }
  .minimize:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .minimize:before {
    transform: rotate(90deg);
  }
  
  /* menu */

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    position: absolute;
    font-size: 28px;
    cursor: pointer;
    color: #333;
    opacity: 0.3;
    border: none;
    top: 0px;
    left:10px;
  }
  
  .openbtn:hover {
    opacity: 1;
  }
  