<table id="schedule">
    <tr>
            <th>Hora</th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Miés</th>
            <th>Jue</th>
            <th>Vie</th>
            <th>Sáb</th>
            <th>Dom</th>
            <td ></td>
    </tr>
    <tr id="1">
        <td><input type="time" class="hour" ></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td class="addRemoveRowBtn"><i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle"></i></td>
    </tr>
    <tr>
        <td><input type="time" class="hour" ></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
    </tr>
    <tr>
        <td><input type="time" class="hour" ></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
    </tr>
    <tr>
        <td><input type="time" class="hour" ></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
    </tr>
    <tr >
        <td><input type="time" class="hour" ></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
        <td><input type="text" class="daily"></td>
    </tr>
    
</table>